
# certs and key files
auth-files
certs*
api_key.txt

# compiled pi files
*.pyc
iot/*.pyc
server/*.pyc
*a.out

# Kicad
pcb/room_environment_monitor-backups/
pcb/\#auto_saved_files\#
pcb/room_environment_monitor/room_environment_monitor-backups/
*-bak
*.lck
pcb/_autosave-room_environment_monitor.kicad_pcb
*.kicad_pcb-bak
*.sch-bak

# VSCODE
.vscode/ 
.DS_Store
.idea

# Arduino
.cache/
bin/
