.pio

            .vscode /
        ipch.vscode / c_cpp_properties.json.vscode / launch.json.vscode /
        settings.json.vscode /
        tasks
            .json

            .cache *.code -
    workspace